.about-content {
    text-align: center;
}
.about-content > article {
    /* Font */
    font-size: 15px;
    line-height: 27px;
    color: rgba(0,0,0,.68);

    /* Position */
    padding: 0 90px;
    margin-bottom: 40px;
}

.about-content > img {
     border-radius: 50%;
     height: 150px;
     width: 150px;
     vertical-align: middle;
     margin-top: -75px;
 }

.about-content button {
   margin-bottom: 20px;
}