.job-list-content {
    text-align: center;
}
.job-list-content > div {
    /* To fix a bug where text is overlapping */
    width: 98%;
    max-width: 1170px;
    margin: 0 auto;
    display: block;
    box-sizing: initial;
}

.job-list-content h1 {
    margin-bottom: 10px;
}